@{
    ViewBag.Title = "Contacto";
}
<h2>SIEC - Servicio de Informática de la Armada</h2>
<h3>Departamento Desarrollo de Sistemas</h3>
<h4>División Ingeniería de Proyectos</h4>

<address>
    Edificio Libertad<br />
    Comodoro Py 2055<br />
    Piso 2 - Oficina 64<br />
    <abbr title="Phone">4317-2000</abbr>
</address>

<address>
    <strong>Internos: </strong> 2938 - 2932
</address>